@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Pirata+One&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-image: url("./public/img/pageBackground.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: "Pirata One";
    color: #fff;
}

#controlMusica {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#toggleMusica {
    font-size: 20px;
    cursor: pointer;
}

#controlVolumen {
    width: 100px;
    cursor: pointer;
}

#game-container {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 20px auto;
    border: 10px solid #5c5c5c;
    background-image: url("./public/img/scenery.png");
    background-size: cover;
    border-radius: 30px;
}

body::before {
    content: "";
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 85%;
    background-image: url("./public/img/parchmentBack.png");
    background-position: center;
    background-size: cover;
    z-index: -1;
    pointer-events: none;
}

#title {
    width: 450px;
    ;
}

#score-container {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

.personaje {
    position: absolute;
    width: 180px;
    height: 180px;
    background-image: url("./public/img/pirateCharacter.png");
    background-size: cover;
    background-position: center;
    object-fit: fill;
}

.personaje.left {
    transform: scaleX(-1)
}

.moneda {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("./public/img/coin.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(255, 255, 0, 0.9);
    animation: bouncing 2s infinite;
}

@keyframes bouncing {
    from {
        transform: rotate3d(1, 1, 0, 10deg);
    }

    to {
        transform: rotate3d(1, 1, 0, 360deg);
    }
}